*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0097e6;
    font-family: "Montserrat Black";
}
h1{
    color: #f2f2f2;
    font-size: 65px;
    margin-bottom: 5px;
    margin-top: -15px;
    letter-spacing: 1px;
    text-align: center;
    font-family: "Paytone One";
}
.link{
    text-align: center;
    background-color: #333;
    width: 60px;
    margin: 0 auto;
}
button{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 1px;
    color: #333;
    background: #f2f2f2;
    font-family: "Montserrat SemiBold";
    margin: 10px 0;
    cursor: pointer;
    transition: 0.2s ease;
    outline: none;
}
#startGame{
    background-color: #fff;
    margin: 30px 0 -10px 0;
}
#startGame:hover{
    box-shadow: 3px 3px rgba(0,0,0,0.35)
}
.levels{
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
#day, #night{
    text-align: center;
}
#day:hover{
    background-color: #FFEB3B;
    box-shadow: 3px 3px rgba(0,0,0,0.35)
}
#night:hover{
    background-color:#353b48;
    color: #f2f2f2;
    box-shadow: 3px 3px rgba(0,0,0,0.35)
}
.container{
    display:block;
    justify-content: center;
    align-items: center;

    width: 288px;
    position: relative;
    margin: 0px auto 0 auto;
}
canvas{
    box-shadow: 10px 10px rgba(0,0,0,0.15);
}
.deviceInfo{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.pc, .mobile{
    font-size: 25px;
    color: #f2f2f2;
    text-shadow: 3px 3px rgba(0,0,0,0.55);
    width: 220px;
    animation: deviceInfo 0.8s ease forwards infinite;
    text-transform: uppercase;
}
@keyframes deviceInfo{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.05)
    }
    100%{
        transform: scale(1)
    }
}
.mobile{
    display: none;
}
#score{
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    font-size: 75px;
    letter-spacing: 1px;
    color: #f2f2f2;
    text-shadow: 3px 3px rgba(0,0,0,0.35);
    font-family: "Montserrat Black";
}
.gameOver{
    display: none;
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    box-shadow: 8px 7px rgba(0,0,0,0.55);
}
.gameOver h2{
    text-align: center;
    color: #20a9e9;
}
.gameOver p {
    text-align: left;
    color: #20a9e9;
    font-size: 20px;
    font-family: "Paytone One";
}
.gameOver button{
    background-color: #eee;
    color: #333;
    width: 110px;
    text-align: center;
    font-family: "Montserrat Regular";
    box-shadow: 3px 3px rgba(0,0,0,0.25);
}
.gameOver button:hover{
    background-color: #20a9e9;
    color: #f2f2f2;
}
.gameOver.active{
    animation: popup 0.2s ease-in-out forwards;
}
@keyframes popup{
    0%{
        transform: translate(-50%, -50%)scale(0);
    }
    100%{
        transform: translate(-50%, -50%)scale(1);
    }
}

@media (min-width: 900px){
    .pc{
        display: block;
    }
    .mobile{
        display: none;
    }
}

@media (max-width: 900px){
    h1{
        font-size: 35px;
        margin: 10px 0;
    }
    .pc{
        display: none;
    }
    .mobile{
        display: block;
    }
}